absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aioice==0.9.0
aiortc==1.9.0
aiosignal==1.3.2
astunparse==1.6.3
asyncio==3.4.3
attrs==24.3.0
av==12.3.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
colorama==0.4.6
cryptography==44.0.0
cv==1.0.0
dnspython==2.7.0
faiss-cpu==1.9.0.post1
filelock==3.16.1
Flask==3.1.0
Flask-SocketIO==5.5.1
flatbuffers==24.12.23
frozenlist==1.5.0
gast==0.6.0
gdown==5.2.0
google-crc32c==1.6.0
google-pasta==0.2.0
grpcio==1.69.0
h11==0.14.0
h5py==3.12.1
idna==3.10
ifaddr==0.2.0
ImageHash==4.3.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonify==0.5
keras==3.8.0
libclang==18.1.1
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.4.1
MouseInfo==0.1.3
mtcnn==1.0.0
multidict==6.1.0
namex==0.0.8
numpy==2.0.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas==2.2.3
phonenumbers==8.13.50
pillow==11.1.0
propcache==0.2.1
protobuf==5.29.3
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pyee==12.1.1
PyGetWindow==0.0.9
Pygments==2.19.1
pylibsrtp==0.10.0
PyMsgBox==1.0.9
pyOpenSSL==25.0.0
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-engineio==4.11.2
python-socketio==5.12.1
pytweening==1.2.0
pytz==2024.2
PyWavelets==1.8.0
requests==2.32.3
retina-face==0.0.17
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.0
setuptools==75.8.0
simple-websocket==1.1.0
six==1.16.0
soupsieve==2.6
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
vidstream==0.0.14
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
yarl==1.18.3
